.home {
  height: calc(100vh - 60px);
  background-image: url("../../static/images/homeBanner.svg");
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}
a {
  text-decoration: none;
}
