$theme-colors: (
  "primary": #203e5f,
  "warning": #8d0033,
);

$sidebar-bg-color: #0c3158;
// $sidebar-width: 300px !default;
$submenu-bg-color: #0c3158 !default;
$sidebar-color: #fff !default;
// $breakpoint-md: 100px !default;
